__pycache__
__pycache__/*
*/__pycache__

.env
env
.venv
.vscode
build
dist
rpa_suite.egg-info
tests
cred
tasks.md
README.html
uploader.py 
how_update.py
test.py
main.py 
teste
test
test.*
teste.*
tasks.md
